{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy classroom</title>
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="{% static "bundle.js" %}" ></script>
</body>
</html>